body {
  background-color: rgb(255, 255, 255);
  font-family: "Sono";
  color: black;
  margin: 0;
}
#main-title {
  font-size: 1vw;
  padding-left: 10px;
}
#main-logo {
  width: 3.5vw;
  padding-left: 20px;
  min-width: 40px;
}
header {
  border: 0;
  border-bottom: 3px;
  border-color: #bfbfbf;
  border-style: solid;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
section {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #bfbfbf;
  width: 80%;
  height: 50px;
  margin-bottom: 60px;
}
footer {
  position: fixed;
  bottom: 0px;
}
#button-submit {
  border-width: 0;
  border-left: 2px;
  background-color: rgb(241, 241, 241);
  border-style: solid;
  border-color: #bfbfbf;
  font-family: "Sono";
  font-size: large;
  display: block;
  float: right;
  position: relative;
  height: 50px;
  width: 100px;
}
:hover#button-submit {
  background-color: rgb(76, 76, 80);
}
#image {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  position: relative;
  bottom: 14px;
}
#output {
  display: flex;
  justify-content: center;
}
#input {
  display: none;
}
#input-label {
  font-family: "Sono";
  width: auto;
  position: relative;
  bottom: -14px;
}
#configure {
  display: flex;
  justify-content: space-evenly;
  border-style: solid;
  border-color: #bfbfbf;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
#data {
  font-family: "Sono";
  margin-right: 20px;
  width: 400px;
  border: 0;
}
#data-label {
  margin-left: 20px;
}
#color-id {
  margin-left: 20px;
}
#has-label {
  margin-left: 20px;
}
#download-output {
  text-align: center;
}
a {
  display: inline;
}
